{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        


        .form-container {
            /* width: 300px;
            margin: 20px; */
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25vh; /* Adjust as needed */
        }
    
        
    
        .status-buttons button {
            border: none;
            background-color: #f2f2f2;
            color: #333;
            padding: 10px 15px;
            margin-right: 10px;
            cursor: pointer;
            padding: 10px;
            margin-right: 5px;
            border-radius: 5px;
        }
    
        .status-buttons button.active {
            background-color: #428bca;
            color: #fff;
        }
    
        .status-buttons button:hover {
            background-color: #ddd;
        }
    
        .status-buttons button:active {
            transform: translateY(1px);
        }
    
        input[type="submit"] {
            border: none;
            background-color: #428bca;
            color: #fff;
            /* padding: 10px 15px; */
            cursor: pointer;
        }
    
        input[type="submit"]:hover {
            background-color: #3071a9;
        }
    
        input[type="submit"]:active {
            transform: translateY(1px);
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <img src="{% static 'img/logo/thycha white-01.png' %}" alt="Your Logo">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="menu-toggle">
                <span class="bi bi-list" id="menu-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav text-center ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}"><i class="bi bi-house-door-fill"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'project-list' %}"><i class="bi bi-kanban-fill"></i> Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'employee-list' %}"><i class="bi bi-people-fill"></i> Members</a>
                    </li>
                    <li class="nav-item " >
                        <a class="nav-link" href="{% url 'timesheet-list' %}"><i class="bi bi-alarm-fill"></i> Timesheets</a>
                    </li>
                </ul>
    
                <!-- New ul element -->
                <ul class="navbar-nav text-center ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="bi bi-person-circle"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}" onclick="return confirm('Do you want to logout this page ?')"><i class="bi bi-power"></i></a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
    <h1 class="text-center qq">Update Timesheet Status</h1>
    
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th scope="col" class="table-secondary text-nowrap">Member Name</th>
                    <th scope="col" class="table-secondary text-nowrap">Date</th>
                    <th scope="col" class="table-secondary text-nowrap">Project</th>
                    <th scope="col" class="table-secondary text-nowrap">Time</th>
                    <th scope="col" class="table-secondary text-nowrap">Location</th>
                    <th scope="col" class="table-secondary text-nowrap">type</th>
                    <th scope="col" class="table-secondary text-nowrap">type2</th>
                    <th scope="col" class="table-secondary text-nowrap">Description</th>
                    <th scope="col" class="table-secondary text-nowrap">Durection</th>
                    <th scope="col" class="table-secondary text-nowrap">status</th>
                    

                </tr>
            </thead>
            <tbody>
                
                    <tr class="text-center">
                        <td  class="table-secondary text-nowrap">{{ timesheet.employee.first_name }} {{ timesheet.employee.last_name }}</td>
                        <td  class="table-secondary text-nowrap">{{ timesheet.date }}</td>
                        <td  class="table-secondary text-nowrap">{{ timesheet.project }}</td>
                        <td  class="table-secondary text-nowrap">{{ timesheet.start_time }} to {{ timesheet.end_time }}</td>
                        <td  class="table-secondary text-nowrap">{{timesheet.location}}</td>
                        <td  class="table-secondary text-nowrap">{{timesheet.type }}</td>
                        <td  class="table-secondary text-nowrap">{{timesheet.type2 }}</td>
                        <td  class="table-secondary text-nowrap">{{timesheet.description}} </td>
                        <td  class="table-secondary text-nowrap">{{ duration }} minuts</td>
                        <td  class="table-secondary text-nowrap">{{ timesheet.status }}</td>
                        
                    </tr>
               
            </tbody>
        </table>
    </div>

    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Status:</label>
                <div class="status-buttons">
                    <button type="submit" name="status" value="Pending" {% if timesheet.status == 'Pending' %}class="active"{% endif %}>Pending</button>
                    <button type="submit" name="status" value="Rejected" {% if timesheet.status == 'Rejected' %}class="active"{% endif %}>Rejected</button>
                    <button type="submit" name="status" value="Approved" {% if timesheet.status == 'Approved' %}class="active"{% endif %}>Approved</button>
                </div>
            </div>
        </form>
    </div>

    
    
{% endblock content%}
